/*web page*/

html{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
}
main{
    padding-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

img{
    margin-top: 85px;
}

/*footer*/

footer{
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: #031a18;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
}

footer a{
    color: #5b6ee2;
}

footer .réseaux{
    color: grey;
    font-size: 15px;
    padding-top: 10px;
    padding-right: 7px;
    text-decoration: underline;
}

footer .réseaux:hover{
    color: rgb(97, 95, 95);
}

footer a:hover{
    color: #d95070;
}

/*Content*/


.main_title{
    font-size: 50px;
    text-align: center;
    margin: 18px 0;
}

.h2{
    font-size: 35px;
    margin: 10px 10px;
    text-decoration: underline;
}

.accueil_p{
    font-size: 25px;
    margin: 30px 100px;
    line-height: 35px;
}

.maps_fin{
    margin-bottom: 70px;
}

.contact_p{
    font-size: 25px;
    margin: 30px 100px;
    line-height: 35px;
}

.mes_reseaux{
    margin-bottom: 30px;
}

.mes_reseaux li img{
    height: 40px;
    width: 40px;
    margin-left: 80px;
    margin-top: 0;
}

.mes_reseaux li > *{
    vertical-align: middle;
}

.mes_reseaux li:hover > *{
    font-size: 35px;
    height: 50px;
    width: 50px;
}

.link:hover{
    text-decoration: underline;
    color: #1a0dab;
}

.link:visited{
    color: #66009c;
}

.link{
    color: rgb(26, 13, 171);
}

ul li{
    font-size: 25px;
    margin: 30px 100px;
}

.jeu_options{
    margin-left: 30px;
    color: #1a0dab;
}

.jeu_options:hover{
    color: #8b048b;
}

cite{
    font-size: 14px;
    margin-bottom: none;
}

cite a{
    color: #1a0dab; 
}

cite a:hover{
    color: #8b048b;
}

.main_title_fg{
    font-size: 50px;
    text-align: center;
    margin-bottom: 18px;
    padding: none;
}

/*flexbox accueil*/

.container{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}

div .item{
    padding: 20px 20px;
    margin: 50px;
    background-color:rgba(0,10,25,0.1);
    text-align: center;
}

div div img{
    width: 300px;
    height: 240px;
}

div div span{
    font-size: 30px;
    text-align: center;
}

div div p{
    font-size: 17px;
    padding-top: 15px;
}

/*skins*/

.raccourci{
    display: block;
    position: relative;
    top: -6rem;
    visibility: hidden;
}

.skins_p{
    font-size: 25px;
    margin-top: 50px;
}

.skins_p ul li a{
    color: black;
}

.h2-skins{
    font-size: 30px;
    margin-top: 50px;
}

.skins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin: 50px 0;
    flex-wrap: wrap;
}

.skins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin: 50px 0;
    flex-wrap: wrap;
}

.skins div{
    font-size: 30px;
    /*background-color: #d95070;*/
    text-align: center;
    margin: 10px 20px;
}


.skins div div ul{
    margin-bottom: 15px;
    margin-top: 15px
}

.skins div div ul li{
    font-size: 25px;
    line-height: 40px;
    margin-left: 10px;
    text-align: left;
    margin: 0;
}

.skins div img{
    height: auto;
    margin-top: 0;
}

.skins div .skins-divers{
    height: auto;
    width: 1000px;
    margin-bottom: 15px;
}

.endButton{
    display: flex;
    justify-content: flex-end;
}

#scrollToTopBtn{
    background-color: rgba(128, 139, 145, 0.6);
    border: 2px solid rgba(128, 139, 145, 0.9);
    border-radius: 1%;
    padding: 10px 20px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 0;
}

#scrollToTopBtn:hover{
    background-color: black;
    color: white;
    transition: all 0.8s;
}

/*nav*/

nav{
    background-color: #42415f;
    width: 100%;
    height: 85px;
    position: fixed;
}

nav .logo #logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.nav_options.active, .nav_options:hover{
    background: black;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
    position: absolute;
}

nav ul ul{
    position: absolute;
    background-color: #24234f;
    border-top: 3px solid lightslategray;
    visibility: hidden;
}

nav ul ul li{
    display: list-item;
    position: relative;
    width: 90px;
    height: 60px;
    text-align: center;
    border-bottom: 2px solid rgb(3, 3, 56);
}

nav ul ul li a{
    color: white;
    display: block;
    font-size: 18px;
    line-height: 50px;
}

nav ul li:hover > ul{
    visibility: visible;
}

nav ul ul li a:hover{
    color: #127cb9;
}


@media (max-width: 952px){
    nav .logo #logo{
        color: white;
        font-size: 40px;
        padding: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){

    /*flexbox*/

    .container{
        flex-direction: column;
        margin: 0;
    }

    div .item{
        margin: 20px;
    }


    main{
        margin: 0;
    }

    .checkbtn{
        display: block;
    }

    nav .logo{
        color: white;
    }

    nav ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #24234f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .nav_options:hover, .nav_options.active{
        background: black;
    }

    #check:checked ~ ul{
        left: 0;
    }

    nav .logo{
        font-size: 30px;
        padding: 40px;
    }

    /*skins*/

    .h2-skins{
        margin-left: 15px;
    }

    .skins{
        flex-direction: column;
    }

    .skins_p{
        margin-left: 30px;
        margin-right: 30px;
    }

    #scrollToTopBtn{
        margin-right: 15px;
    }

    /*sous menu*/

    nav ul ul{
        position: relative;
        display: none;
        left: -54.5%;
        top: -15px;
        height: 0;
        width: 0;
        border-top: none;
        background-color: green;
        align-items: center;
    }

    nav ul ul li{
        display: list-item;
        position: relative;
        text-align: center;
        padding-bottom: 10px;
        height: 0;
        width: 115px;
    }

    nav ul ul li a{
        display: block;
        line-height: 50px;
        background-color: #24234f;
        border-bottom: 2px solid rgb(3, 3, 56);
        border-top: 2px solid rgb(3, 3, 56);
    }

    nav ul ul li a:hover{
        background-color: black;
    }

    nav ul li:hover > ul{
        display: list-item;
    }
}

/*mobiles + tablettes*/
@media (max-width: 767px) {

    .mes_reseaux li img{
        margin-left: 0;
    }

    .mes_reseaux li:hover > *{
        font-size: 25px;
        height: 40px;
        width: 40px;
    }

    .checkbtn{
        display: block;
    }

    nav .logo #logo{
        color: white;
        font-size: 35px;
    }

    nav ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #24234f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .nav_options:hover, .nav_options.active{
        background: black;
    }

    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ html{
        position: fixed;
    }


    /*content*/

    .accueil_p{
        font-size: 25px;
        margin: 15px 30px;
        line-height: 35px;
    }

    .contact_p{
        font-size: 25px;
        margin: 15px 30px;
        line-height: 35px;
    }

    .link:hover{
        color: #1a0dab;
    }

    ul li{
        font-size: 25px;
        margin: 15px 30px;
    }

    /*sous menu*/

    nav ul ul{
        position: relative;
        display: none;
        left: -57.5%;
        top: -15px;
        height: 0;
        width: 0;
        border-top: none;
        background-color: green;
        align-items: center;
    }

    nav ul ul li{
        display: list-item;
        position: relative;
        text-align: center;
        padding-bottom: 10px;
        height: 0;
        width: 115px;
        border: none;
    }

    nav ul ul li a{
        font-size: 15px;
        display: block;
        line-height: 50px;
        width: 130px;
        background-color: #24234f;
        border-bottom: 2px solid rgb(3, 3, 56);
        border-top: 2px solid rgb(3, 3, 56);
        margin-right: 30px;

    }

    nav ul ul li a:hover{
        background-color: black;
    }

    nav ul li:hover > ul{
        display: list-item;
    }

    nav ul li:hover > nav ul li:nth-child(n+1){
        color: #24234f;
    }

    /*skins*/
    
    .endButton{
        justify-content: center;
    }

}

/*mobiles*/
@media (max-width: 440px){

    nav .logo #logo{
        padding: 0 15px;
    }

    /*sous menu*/

    nav ul ul{
        position: relative;
        display: none;
        left: -62%;
        top: -15px;
        height: 0;
        width: 0;
        border-top: none;
        background-color: green;
        align-items: center;
    }

    nav ul ul li{
        display: list-item;
        position: relative;
        text-align: center;
        padding-bottom: 10px;
        height: 0;
        width: 115px;
        border: none;
    }

    nav ul ul li a{
        font-size: 15px;
        display: block;
        line-height: 50px;
        width: 130px;
        background-color: #24234f;
        border-bottom: 2px solid rgb(3, 3, 56);
        border-top: 2px solid rgb(3, 3, 56);
        margin-right: 30px;
    }

    nav ul ul li a:hover{
        background-color: black;
    }

    nav ul li:hover > ul{
        display: list-item;
    }
}

