/*web page*/

html{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
}
main{
    padding-bottom: 40px;
}

/*footer*/

footer{
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: #031a18;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
}

footer a{
    color: #5b6ee2;
}

footer a:hover{
    color: #d95070;
}

/*Content*/


.main_title{
    font-size: 50px;
    text-align: center;
    margin: 18px 0;
}

.accueil_p{
    font-size: 25px;
    margin: 30px 100px;
    line-height: 35px;
}

.contact_p{
    font-size: 25px;
    margin: 30px 100px;
    line-height: 35px;
}

.link:hover{
    text-decoration: underline;
    color: #1a0dab;
}

.link:visited{
    color: #66009c;
}

.link{
    color: rgb(26, 13, 171);
}

ul li{
    font-size: 25px;
    margin: 30px 100px;
}


/*nav*/

nav{
    background-color: #42415f;
    width: 100%;
    height: 80px;
    position: relative;
}

nav .logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.nav_options.active, .nav_options:hover{
    background: black;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
    position: absolute;
}

nav ul ul{
    position: absolute;
    background-color: #24234f;
    border-top: 3px solid lightslategray;
    visibility: hidden;
}

nav ul ul li{
    display: list-item;
    position: relative;
    width: 90px;
    height: 60px;
    text-align: center;
    border-bottom: 2px solid rgb(3, 3, 56);
}

nav ul ul li a{
    color: white;
    display: block;
    font-size: 18px;
    line-height: 50px;
}

nav ul li:hover > ul{
    visibility: visible;
}

nav ul ul li a:hover{
    color: #127cb9;
}


@media (max-width: 952px){
    nav .logo{
        font-size: 40px;
        padding: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){

    .checkbtn{
        display: block;
    }
    nav ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #24234f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .nav_options:hover, .nav_options.active{
        background: black;
    }

    #check:checked ~ ul{
        left: 0;
    }

    footer{
        font-size: 18px;
        color: white;
        text-align: center;
        background-color: #031a18;
        padding: 10px;
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 40px;
    }

    nav .logo{
        font-size: 30px;
        padding: 40px;
    }

    /*sous menu*/

    nav ul ul{
        position: relative;
        display: none;
        left: 44.5%;
        top: -40px;
        height: auto;
        width: 100%;
        border-top: none;
        background-color: transparent;
        align-items: center;
    }

    nav ul ul li{
        display: list-item;
        position: relative;
        text-align: center;
        padding-bottom: 10px;
        height: 0;
        width: 115px;
    }

    nav ul ul li a{
        display: block;
        line-height: 50px;
        background-color: #24234f;
        border-bottom: 2px solid rgb(3, 3, 56);
        border-top: 2px solid rgb(3, 3, 56);
    }

    nav ul ul li a:hover{
        background-color: black;
    }

    nav ul li:hover > ul{
        display: list-item;
    }
}

/*mobile*/
@media (max-width: 767px) {
    .checkbtn{
        display: block;
    }
    nav ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #24234f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .nav_options:hover, .nav_options.active{
        background: black;
    }

    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ html{
        position: fixed;
    }

    footer{
        font-size: 18px;
        color: white;
        text-align: center;
        background-color: #031a18;
        padding: 10px;
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 40px;
    }


    /*content*/

    .accueil_p{
        font-size: 25px;
        margin: 15px 30px;
        line-height: 35px;
    }

    .contact_p{
        font-size: 25px;
        margin: 15px 30px;
        line-height: 35px;
    }

    .link:hover{
        color: #1a0dab;
    }

    ul li{
        font-size: 25px;
        margin: 15px 30px;
    }

    /*sous menu*/

    nav ul ul{
        position: relative;
        display: none;
        left: 44.5%;
        top: -40px;
        height: auto;
        width: 100%;
        border-top: none;
        background-color: transparent;
        align-items: center;
    }

    nav ul ul li{
        display: list-item;
        position: relative;
        text-align: center;
        padding-bottom: 10px;
        height: 0;
        width: 115px;
    }

    nav ul ul li a{
        font-size: 15px;
        display: block;
        line-height: 50px;
        background-color: #24234f;
        border-bottom: 2px solid rgb(3, 3, 56);
        border-top: 2px solid rgb(3, 3, 56);
    }

    nav ul ul li a:hover{
        background-color: black;
    }

    nav ul li:hover > ul{
        display: list-item;
        width: 100%;
    }
}
